@{
    ViewData["Title"] = "Show trail detail";
}   
     
    <p>Trail name: @ViewBag.Trail.Name</p>
    <p>Desciption: @ViewBag.Trail.Description</p>
    <p>Length: @ViewBag.Trail.Length Miles</p>
    <p>Longitude: @ViewBag.Trail.Longitude</p>
    <p>Latitude: @ViewBag.Trail.Latitude</p>
            
