@{
    ViewData["Title"] = "Trails";
}   
        <table class="table">
            <tr>
                <th>Trail</th>
                <th>Description</th>
                <th>Length</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        @foreach(var trail in @ViewBag.Trails) {
            <tr>
                <td><a href="/trail/@trail.Id">@trail.Name</a></td>
                <td>@trail.Description</td>
                <td>@trail.Length Miles</td>
                <td>@trail.Longitude</td>
                <td>@trail.Latitude</td>
            </tr>
        }
        </table>

        <a href="/add" class="btn btn-primary">Add a new trail</a>